<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wbw.servcedirveruser.mapper.DriverUserMapper">

    <select id="select1" parameterType="string" resultMap="integer">
        select count (*) from service-driver-user
    </select>


</mapper>
