*{
	margin: 0;
	padding: 0;
	background-color: #f5f5f5;
	box-sizing: border-box;
}
.layout{
	width: 100%;
	display: flex;
	flex-direction: column;
}
.layout .top{
	width: 100%;
	height: 50px;
	background-color: #858585;
	line-height: 50px;
	align-items: center;
	border-radius: 3px;
	display: flex;
	color: white;
	font-family: '隶书';
	justify-content: space-between;
}
.layout .top div:first-child{
	width: auto;
	background-color: inherit;
}
.layout .top div:nth-child(2){
	background-color: inherit;
	display: flex;
}
.layout .top div:nth-child(2) li{
	margin-right: 10px;
	background-color: inherit;
	list-style-type: none;
}
.layout .top div:nth-child(2) li a{
	text-decoration: none;
	background-color: inherit;
}
.layout .main{
	display: flex;
	height: 900px;
	border: 5px solid white;
}
.layout .main .left{
	flex: 0 0 10%;
	border-right: 10px solid white;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.layout .main .left li{
	margin-top: 20px;
	list-style-type: none;
	width: 80%;
	border: 2px solid white;
	text-align: center;
	font-family: '隶书';
	font-weight: 800;
	
	
}
.layout .main .left li a{
	text-decoration: none;
}
.layout .main .center{
	flex: 0 0 90%;
}
.layout .main .center iframe{
	width: 100%;
	height: 100%;
	outline: 0;
	border: 0;
}
.layout .bottom{
	width: 100%;
	height: 50px;
	border-radius: 3px;
	line-height: 50px;
	text-align: center;
	background-color: #858585;
	
}